<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77034133665-pnsle8vr2nqnsp854lf814pr6e8pc9su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77034133665-pnsle8vr2nqnsp854lf814pr6e8pc9su</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77034133665-barfks56tdo33g51dhgc7ci1v4obsqt2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAI85t_1CZTHZAb46Y-iLuXJKc6bALWw8</string>
	<key>GCM_SENDER_ID</key>
	<string>77034133665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newapp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-3d12b</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-3d12b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77034133665:ios:c64db10950e8e5848d78e0</string>
</dict>
</plist>